---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Bookmarklet style cribbed from Alisdair McDiarmid's article:
// Kill sticky headers
// https://alisdair.mcdiarmid.org/kill-sticky-headers/
.bookmarklet a {
    background: #16e;
    border-radius: 3px;
    border-bottom: 1px solid #139;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition-property: background;
    transition-duration: 150ms;
}
